<div class="footer-warp">

  <div class="footer-logo">
    <img src="/public/images/footer_logo.png" alt="footer_logo.png">
  </div>

  <div class="footer-contents">
    <div>
      <ul>
        <li><a class="footer-contents-titles">바로가기</a></li>
        <li><a>토큰세일</a></li>
        <li><a>랜드옥션</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a class="footer-contents-titles">문의하기</a></li>
        <li><a>이메일 문의</a></li>
        <li><a>카카오톡 문의</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a class="footer-contents-titles">고객지원</a></li>
        <li><a>공지사항</a></li>
        <li><a>자주 묻는 질문</a></li>
        <li><a>이용약관</a></li>
        <li><a>개인정보처리방침</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-info">
    <h4>서울특별시 강남구 테헤란로 441(송암빌딩) 2층 랜드박스<br>
      (2F, 441, Teheran-ro, Gangnam-gu, Republic of Korea)</h4>
    <h5>© 2020. LandBox All right reserved.</h5>
  </div>
</div>