



<nav id="myNavbar" class="navbar">
  <a class="" href="/">
    <img id="logo_img" src="/public/images/logo.png" alt="logo.png">
  </a>
  <ul>
    <!-- <li style="cursor:pointer">
      <a href="/notice/list"><img id="bell_img" src="/public/images/bell_icon.png" alt="bell_icon.png"></a>
    </li> -->
    <li style="cursor:pointer" onclick="openNav()">
      <img id="burger_img" src="/public/images/burger_icon.png" alt="burger_icon.png">
    </li>
  </ul>
</nav>