<div id="sidenav-bg">
    <div id="mySidenav" class="sidenav">
      <div class="sidemenu-contents">
        <!-- 엑스박스와 세팅 버튼 -->
        <div class="sidmenu-buttons">
          <ul>
            <li>
              <a>
                <img id="bell_img" src="/public/images/setting_icon.png" alt="setting_icon.png">
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                <img id="bell_img" src="/public/images/xbox_icon.png" alt="xbox_icon.png">
              </a>
            </li>
          </ul>
        </div>

        <div class="sidemenu-account">
          <div class="account-btns">
            <button class="btn-second" onclick="location.href='/account/signup'">회원가입</button>
            <button class="btn-primary" onclick="location.href='/account/login'">로그인</button>
          </div>
          <h3>로그인 후 더 다양한 서비스 이용하세요.</h3>
        </div>

        <div class="sidmenu-userinfo">
          <a href="#" class="sidemenu-user-name">
            <span><strong>강*호</strong>님</span> 
          </a>
          <ul>
            <li>
              890.7576923<strong>BTC</strong>
            </li>
            <li>
              890.7576923<strong>LAND</strong>
            </li>
            <li>
              0<strong>LKRW</strong>
            </li>
          </ul>
        </div>

        <div class="sidmenu-categorys">
          <ul>
            <li>
              <a href="#"><img src="/public/images/tokensale_icon_sm.png" alt="tokensale_icon_sm.png"><h5>토큰세일</h5></a>
              <a href="#"><img src="/public/images/landauction_icon_sm.png" alt="landauction_icon_sm.png"><h5>랜드옥션</h5></a>
              <a href="#"><img src="/public/images/landacademy_icon_sm.png" alt="landacademy_icon_sm.png"><h5>랜드아카데미</h5></a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#"><img src="/public/images/landfinance_icon_sm.png" alt="landfinance_icon_sm.png"><h5>랜드파이넨스</h5></a>
              <a href="#"><img src="/public/images/landsaving_icon_sm.png" alt="landsaving_icon_sm.png"><h5>랜드세이빙</h5></a>
              <a href="#"><img src="/public/images/mypage_icon_sm.png" alt="mypage_icon_sm.png"><h5>마이페이지</h5></a>
            </li>
          </ul>
        </div>

        <div class="sidmenu-events">
          <a href="#">이벤트</a>
          <div>
            <a href="#">
              <h4>이벤트 배너</h4>
              <div>
                이벤트명 이벤트명 이벤트명 이벤트...
                <h5>2020.08.01 ~ 2020.08.31</h5>
              </div>
            </a>
          </div>
          <div>
            <a href="#">
              <h4>이벤트 배너</h4>
              <div>
                이벤트명 이벤트명 이벤트명 이벤트...
                <h5>2020.08.01 ~ 2020.08.31</h5>
              </div>
            </a>
          </div>


        </div>
        <div class="sidmenu-board">
          <a>공지사항</a>
          <a>새소식</a>
          <a>자주 묻는 질문</a>
        </div>
        <div class="sidmenu-logout">
          <a href=""><img src="/public/images/logout_icon.png" alt="logout_icon.png">로그아웃</a>
        </div>
      </div>
    </div>
  </div>