<!DOCTYPE html>
<html>
<head>
  <%- include ("layouts/head") %>
  <link rel="stylesheet" href="/public/css/ .css">
</head>
<body onload="setNavbar()">

  <%- include("layouts/header") %> 


  <!-- 주 내용-->
    <section section class="">

    </section>

  <!-- 풋터-->
  <%- include("layouts/footer.ejs") %> 

</body>

</html>