<!DOCTYPE html>
<html>
<head>
  <%- include ("layouts/head") %>
  <link rel="stylesheet" href="/public/css/login.css">
</head>
<body onload="setNavbar()">

  <%- include("layouts/header") %> 
  
  <div id = "modal" class = "modal">
    <div class = "modal-background"></div>
    <div class = "modal-card message-modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">일치하는 정보가 없습니다.</p>
            <button class="modal-close" data-target="modal" onclick="modalClose(this)"></button>
        </header>

        <footer class="modal-card-foot">
            <button class="btn-primary-xl" data-target="modal" onclick="modalClose(this)">확인</button>
        </footer>
    </div>
  </div>

  <!-- 주 내용-->
  <section section class="-warp">
    <div class="subPage-banner" id="banner">
        <img class="subPage-banner-img" src="/public/images/MA_banner.jpg" alt="MA_banner.jpg">
        <div class="title-bar">
            <a href="#"><img src="/public/images/goback_icon_white.png" alt="goback_icon.png"></a>
            <h1>로그인</h1>
        </div>
    </div>
    
    <a href="#" class="message-link" data-target="modal" onclick="modalOpen(this)">modal</a>
    <div class="form-section">
        <form action="">
            
            <div class="input-block">
                <label for="" class="input-label">아이디</label>
                <input type="text" class="input-text" placeholder="아이디(이메일)">
                <h5></h5>
            </div>
            <div class="input-block">
                <label for="" class="input-label">비밀번호</label>
                <input type="password" class="input-text" placeholder="비밀번호">
            </div>

            <input type="submit" class="input-submit" value="로그인">
            
        </form>
        <ul class="account-settings">
            <li><a href="#">아이디 찾기</a></li>
            <li>|</li>
            <li><a href="#">비밀번호 재설정</a></li>
            <li>|</li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </div>

</section>

  <!-- 풋터-->
  <%- include("layouts/footer.ejs") %> 

</body>

</html>