<!DOCTYPE html>
<html>

<head>
  <%- include ("layouts/head") %>
  <link rel="stylesheet" href="/public/css/noticeList.css">
</head>

<body onload="setNavbar()">

  <%- include("layouts/header") %>


  <!-- 주 내용-->
  <section section class="notice-warp">
    <div class="title-bar">
      <a href="#"><img src="/public/images/goback_icon.png" alt="goback_icon.png"></a>
      <h1>알림</h1>
    </div>
  </section>

  <!-- 풋터-->
  <%- include("layouts/footer.ejs") %>

</body>

</html>