<!DOCTYPE html>
<html>

<head>
  <%- include ("../layouts/head") %>
  <link rel="stylesheet" href="/public/css/signup.css">
</head>

<body onload="setNavbar()">

  <%- include("../layouts/header") %>
  <div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">랜드박스 서비스 이용 약관</p>
        <button class="modal-close" data-target="modal" onclick="modalClose(this)"></button>
      </header>
      <section class="modal-card-body">
        <h5>
          <제1장 총칙><br>
            제1조 (목적)본 약관은 LandBox(이하 "회사”)가 제공하는 랜드박스 및 랜드박스 관련 제반
            서비스의 이용과 관련하여 회사와 회원 간의 권리, 의무 및 책임사항 기타 필요한 사항을
            규정함을 목적으로 합니다.제2조 (약관의 명시와 개정) 1. 회사는 본 약관의 내용을 회사의
            서비스 회원가입 관련 사이트 초기화면 또는 연결화면에 게시하거나 기타의방법으로 공지합니다.
            2. 본 약관은 서비스 이용을 원하는 자가 본 약관에 동의하면서 회원으로 가입함으로써 효력이 발생합니다.
            3. 회사는 관련 법령인 "약관의 규제에 관한 법률”, "정보통신망 이용촉진 및 정보보호 등에 관한 법률”
            을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.4. 회사가 약관을 개정할 경우에는
            적용일자 및 개정 사유를 명시하여 현행약관과 함께 회사 사이트의 초기화면이나 연결화면에
        </h5>
      </section>
      <footer class="modal-card-foot">
        <button class="btn-primary-xl">동의</button>
      </footer>
    </div>
  </div>

  <!-- 주 내용-->
  <section section class="sign-warp">

    <div class="title-bar">
      <a href="#"><img src="/public/images/goback_icon.png" alt="goback_icon.png"></a>
      <h1>회원가입</h1>
    </div>

    <div class="form-section">
      <form action="">
        <h2 class="form-title">회원정보</h2>
        <div class="input-block">
          <label for="" class="input-label">이메일(아이디)</label>
          <input type="text" class="input-text" placeholder="이메일">
          <h5></h5>
        </div>
        <div class="input-block">
          <label for="" class="input-label">새로운 비밀번호 등록</label>
          <input type="password" class="input-text" placeholder="10자 이상">
          <h5 class="input-description">* 숫자, 영문, 특수문자 중 2가지 이상 조합해주세요.</h5>
        </div>
        <div class="input-block">
          <label for="" class="input-label">새로운 비밀번호 확인</label>
          <input type="password" class="input-text" placeholder="비밀번호 확인">
          <h5></h5>
        </div>
        <div class="input-inline terms-group">
          <div>
            <input type="checkbox" class="input-checkbox">
            <label class="input-checkbox-label">랜드박스 서비스 이용약관</label>
            <label class="input-is-necessary">*필수</label>
          </div>
          <a href="#" class="terms-link" data-target="modal" onclick="modalOpen(this)">[내용보기]</a>
        </div>
        <div class="input-inline terms-group">
          <div>
            <input type="checkbox" class="input-checkbox">
            <label class="input-checkbox-label">개인정보 수집 및 이용 동의</label>
            <label class="input-is-necessary">*필수</label>
          </div>
          <a href="#" class="terms-link" data-target="modal" onclick="modalOpen(this)">[내용보기]</a>
        </div>
        <input type="submit" class="input-submit" value="가입하기">
      </form>
    </div>
  </section>

  <!-- 풋터-->
  <%- include("../layouts/footer.ejs") %>

</body>

</html>