.sign-warp{
    /* display: block; */
    padding-top: 48px;
}


.title-bar{
    display: flex;
    padding: 20px 16px;
    justify-items: center;
    align-items: center;
}

.title-bar a{
    display: flex;
    align-items: center;
}

.title-bar h1{
    position: relative;
    margin: 0 auto;
    padding-right: 10%;
    /* text-align: center; */
    font-family: SpoqaHanSans;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.89;
    letter-spacing: -0.41px;
    color: var(--black-1-b-1-d-1-f);
}




.terms-group{
    display: flex;
    justify-content: space-between;
    
    justify-items: center;
    align-items: center;
}

.terms-link{
    padding: 3px;
    font-family: SpoqaHanSans;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.41px;
    color: var(--black-1-b-1-d-1-f);
}

.terms-modal-card{
    width: 90%;
    height: 460px;
    border-radius: 10px;
    background-color: var(--white-ffffff);
}

.terms-modal-card .modal-card-head{
    border: none;
    background-color: var(--white-ffffff);
}



.terms-modal-card .modal-card-foot{
    border: none;
    background-color: var(--white-ffffff);
}


.terms-modal-card .modal-card-title{
    text-align: center;
    font-family: SpoqaHanSans;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.41px;
    color: var(--black-1-b-1-d-1-f);
}

.terms-modal-card .modal-card-body h5{
    font-family: SpoqaHanSans;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: -0.41px;
    color: var(--grey-60-72787-f);
}


